<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <center><img src="https://img.icons8.com/ios-filled/100/000000/user.png"/></center>           
            
            <div class="left">
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" id="pass" class="form-control" name="newPassword" placeholder="New Password">
                <p class="input-msg" id="password-message"></p>
              </div>     
              <div class="form-group">
                <input type="password" id="confirmpass" class="form-control" name="confirmPassword" placeholder="Confirm Password">
                <p class="input-msg" id="confirm-message"></p>
              </div>             
              <div class="form-group">             
                <input type="text" class="form-control" name="voterName" placeholder="Name of Voter">
              </div>
            </div>
            
            <div class="right">    
              <div class ="form-group">
                <select class="custom-select my-select" name="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>   
              </div>                                  
              <div class="form-group">
                <input type="date" class="form-control" name="dob" placeholder="Date of Birth">
              </div>  
              <div class="form-group">
                <input type="text" class="form-control" name="adhaarNo" placeholder="Adhaar number">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="voterId" placeholder="Voter ID">
              </div>              
            </div>
            
            <button type="submit" class="btn btn-dark subbtn">Register</button>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>




<script>
  $('#confirmpass').on('keyup', function () {
    if ($('#pass').val() == $('#confirmpass').val()) {
      $('#confirm-message').html('Password Matched').css('color', 'green');
    } else 
      $('#confirm-message').html('Not matched').css('color', 'red');
  });
</script>




<%- include('partials/header') %>
                                                                                                                                         